.movie-list .title {
  font-family: 'Josefin Sans', sans-serif;
  color: #E9EAEB;
  font-size: 28px;
}

.movie-list ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
